@model RoleBasedAccess.Model.Employee

@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>
@using (Html.BeginForm("SaveEmployee", "Hr")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    }
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
            @Html.ActionLink("Add Employee", "AddEmployee", "Hr")
            @Html.ActionLink("Add Remark", "AddRemark", "Hr")
        @Html.ActionLink("Change Password", "Manage", "Account")
    </ul>
</div>
<form action="/Hr/SaveEmployee" method="post">
<fieldset>
        <legend>Add Employee Form</legend>
        <ol>
            <li>
                @Html.Label(ViewData["Success"].ToString())
            </li>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
            </li>
             <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </li>
             <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </li>
             <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
             <li>
                @Html.LabelFor(m => m.Designation)
                @Html.TextBoxFor(m => m.Designation)
                @Html.ValidationMessageFor(m => m.Designation)
            </li>
           
        </ol>
        <input type="submit" value="Add Employee" />
    </fieldset>
    </form>